@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
<<<<<<< HEAD

:root {
    --cor-principal: #9c24e2;
    --cor-escura: #47354b;
    --cor-cinza: #aa98b0;
    --cor-roxoclaro: #d13bff;
    --cor-roxoescuro: #511c70;
    --cor-preto: #000000;
    --cor-branco: #FFFFFF;
}

#body {
    background-color: var(--cor-roxoclaro);
}

#rodape {
    background-color: var(--cor-escura);
    color: var(--cor-branco);
}

#ancora {
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 20px;
    transition:  color 0.3s ease;
}
#ancora:hover {
    color: var(--cor-principal);
    cursor: pointer;
    text-decoration: underline;
}

:root {
   --cor-principal: #9c24e2;
    --cor-escura: #47354b;
    --cor-cinza: #aa98b0;
    --cor-roxoclaro: #d13bff;
    --cor-roxoescuro: #511c70;
    --cor-preto: #000000;
    --cor-branco: #FFFFFF;
}